$font_stack: "proxima-nova", "jaf-facitweb", helvetica !default;

body,
h1,h2,h3,h4,h5,h6,
p,span,
form,input,label
{
    font-family: $font_stack
}

.l-box {
    padding: 1em;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

form {
    .pure-controls {
        margin-top: 0.2em;
    }
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}

.header {

    &.full {
        min-height: 450px;
        overflow: hidden;
    }
    &.slim {
        min-height: 200px;
    }
    h1 {
        font-weight: 600;
        color: white;
        font-size: 105%;
        &.page_name {
            bottom: 0;
            position: absolute;
            margin-bottom: 1em;
            font-size: 160%;
        }
    }
    span.title {
        color: #cfcfcf;
        font-weight: 400;

        span.sep {
            margin: 0.5em;
            margin-right: 0.5em;
        }
    }
    span.cta {
        float: right;
        a {
            margin-left: 0.8em;
            &.login {
                font-weight: 300;
            }
            &:hover {
                border-bottom: 2px solid white;
            }
        }
    }
}

.hero {
    p {
        font-size: 150%;
        text-align: center;
    }
}

.reasons {
    .reason {
        p {
            text-align: center;
            &.lead {
                font-size: 120%;
            }
            &.body {
                font-size: 100%;
                font-weight: 300;
            }
        }
    }
}

.footer {
    margin-top: 8em;
    background-color: #2d2d2d;
    color: white;
    p {
        font-size: 90%;
        margin-top: 0;
        color: #e0e0e0;
        font-weight: 300;
        &.note {
            font-size: 70%;
        }
    }
    h1 {
        font-size: 100%;
        margin-bottom: 4em;
        span {
            font-size: 90%;
            font-weight: 300;
            color: #e0e0e0;
            margin-left: 0.6em;
        }
    }
}
